{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Agregar Lugar</title>
  </head>
  <body>
    <h1>Agregar Lugar</h1>
    <form method="post">
        {% csrf_token %}
        {{ crear_form.as_p }}
        <button type="submit" name="crear">Guardar</button>
    </form>
    <hr>
    <form method="post">
        {% csrf_token %}
        {{ eliminar_form.as_p }}
        <button type="submit" name="Eliminar">Guardar</button>
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Modificar">Guardar</button>
    </form>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="Listar">Guardar</button>
    </form>
  </body>
</html>
